body{
    background-color: grey;
}


nav {
    background-color: rgb(0, 0, 0);
    display: flex;
    /* Alinea los elementos en los extremos */
    align-items: center;
    /* Centra verticalmente los elementos */
    padding: 10px;
}

#logo{
    max-width: 200px;
    height: auto;
    margin-right: 10px;
}
.letra{
    color: rgb(173, 173, 173);
    font-family: Verdana;
    font-weight: bold;
    margin-right: 20px;
    font-size: 15px;
    text-decoration: none;
    height: auto;
}
#imgCoche {
    height: 680px;
    width: 100%;
    object-fit: cover; /* La imagen cubrirá completamente el contenedor */
}


.tabla {
    width: 2000px;
    height: 200px;
    background-color: rgb(255, 255, 255);
    border-radius: 22px;
    padding: 7px;
    height: 100%;
}

#columnas {
    display: flow-root;

}

#izquierda {
    width: 43%;
    float: left;
    
}

#derecha {
    width: 43%;
    float: right;
    
}

footer {
    margin-top: 29px;
    background-color: #ffffff;
    /* Fondo semi-transparente para el pie de página */
    color: #000000;
    /* Color del texto del pie de página */
    font-size: 16px;
    /*Tamaño de la letra*/
    padding: 30px;
    /* Añade espacio  al pie de página */
    text-align: center;
    /* Alinea el texto al centro */
    

}